@import "bootstrap";
@import "bootstrap-select/sass/bootstrap-select";

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";

:root {
  --content-padding-y: 5rem;
}

.content {
  --content-height: 900px;

  width: 1500px;
  max-width: 100vw;

  height: var(--content-height);
  max-height: 100vh;

  margin: calc((100vh - var(--content-height)) / 2) auto;
}

@media (max-height: 900px) {
  .content {
    margin: 0 auto;
  }
}